<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Input Form</title>
</head>
<body>
    <!-- processForm has multiple versions we can use here -->
    <form th:action="@{/processFormVersionThree}" method="POST">
        <!-- the get method is sending the form data through the url to the controller -->
        <input type="text" name="studentName"
               placeholder="What's your name?" />
        <input type="submit"/>
    </form>
</body>
</html>